<div class="ads">
    <div class="container">
        <div class="ad-container col-sm-12">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive Recipe Shelf -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8939723742924588"
                 data-ad-slot="8137798951"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>