{{ $imagename := replace .name " " "_" }}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="ui-item">	
		<a href="{{ .baseUrl }}{{ .type }}/{{ .name | urlize }}/">
			<div>
				<img class="img-responsive" src="https://res.cloudinary.com/recipe-shelf/image/upload/w_auto,f_auto,fl_lossy,q_auto,dpr_auto/stock-images/{{ $imagename }}.jpg" alt="{{ .name }} Image" data-pin-no-hover="true">
			</div>
			<div class="content">
				<div class="text-center">
					<span class="h3">{{ .name }}</span>
				</div>
			</div>  
		</a>
	</div>
</div>
<div class="clear"></div>