{{ partial "header" . }}
{{ $baseUrl := $.Site.BaseURL }}
{{ $data := .Data }}
{{ $singular := .Data.Singular }}
{{ $plural :=  .Data.Plural }}
<div class="container-black ui-208" data-pagefind-ignore>
    <div class="container">                
        <h3 style="margin: 0px; line-height: 35px; padding-top: 20px;">
            <span class="orange">{{ len $data.Terms }}</span>
            <span class="white">
            {{ if eq $plural "collections" }}
                collections
            {{ else if eq $plural "cuisine" }}
                cuisines    
            {{ else }}
                {{ $plural }}
            {{ end }}
            </span>
        </h3>
        <hr class="br-white" style="margin: 0;" />
        <div class="row recipes-list" style="margin-top: 20px;">                
            {{ range $key,$value := $data.Terms.ByCount }}
                {{ partial "box.html" (dict "name" $value.Name "type" $singular "baseUrl" $baseUrl) }}
            {{ end }}
        </div>             
    </div>    
</div>
{{ partial "footer" . }}
