<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="ui-item">	
		{{ if (isset .Params "image_id") }}	
			<a href="{{ .Permalink }}"><img class="img-responsive" src="{{ $.Site.BaseURL }}images/{{ .Params.image_id }}.jpg" srcset="{{ $.Site.BaseURL }}images/{{ .Params.image_id }}.jpg 1x, {{ $.Site.BaseURL }}images/{{ .Params.image_id }}.2x.jpg 2x" alt="{{ .Title }} Image" onerror="this.style.display='none';" data-pin-no-hover="true"></a>
		{{ end }}
		<div class="content">
			<div>
				<span class="h3">{{ .Title }}</span>
				<span class='pull-right'>
					{{ range (seq (sub 3 (add 0 .Params.spice_level))) }}
						<img src='{{ $.Site.BaseURL }}stock-images/PlainChili.svg' height='25'>
					{{ end }}
					{{ range (seq (add 0 .Params.spice_level)) }}			
						<img src='{{ $.Site.BaseURL }}stock-images/RedChili.svg' height='25'>	
					{{ end }}
				</span>
			</div>
			<p>{{ .Description }}</p>
			<span class="green">{{ .Params.total_time_pretty }}</span>
			<hr />
			{{ if .Params.overnight_preparation }} 
				<h6 class="orange" style="margin-bottom: 10px">May need overnight preparation</h6>	
			{{ end }} 
			<em>{{ .Params.ingredients_count }} Ingredients</em>
			<a href="{{ .Permalink }}" class="btn btn-sm btn-blue">View Recipe</a>
		</div>
	</div>
</div>
<div class="clear"></div>