{{ partial "header" . }}
{{ $baseUrl := $.Site.BaseURL }}
<div class="container-black ui-208">
    <div class="container">
    	<h3 style="margin: 0px; line-height: 35px; padding-top: 20px;">
            <span class="white">Recipes for this week!</span>
        </h3>
        <hr class="br-white" style="margin: 0;" />
        <div class="row recipes-list" style="margin-top: 20px;">
            {{ range where .Data.Pages ".Title" "in" (slice "Pindi Chole" "Panzanella" "Kulfi" "Red Lentils Soup") }}              
                {{ .Render "li"}}
            {{ end }}
        </div>
        <h3 style="margin: 0px; line-height: 35px; padding-top: 20px;">
            <span class="white">Popular <a class="orange" href="{{ $baseUrl }}collections/">collections</a>!</span>
        </h3>
        <hr class="br-white" style="margin: 0;" />
        <div class="row recipes-list" style="margin-top: 20px;">
            {{ partial "box.html" (dict "name" "starters" "type" "collections" "baseUrl" $baseUrl) }}
            {{ partial "box.html" (dict "name" "lunch" "type" "collections" "baseUrl" $baseUrl) }}
            {{ partial "box.html" (dict "name" "dinner" "type" "collections" "baseUrl" $baseUrl) }}
            {{ partial "box.html" (dict "name" "desserts" "type" "collections" "baseUrl" $baseUrl) }}
        </div>
        <h3 style="margin: 0px; line-height: 35px; padding-top: 20px;">
            <span class="white">Famous <a class="green" href="{{ $baseUrl }}cuisine/">cuisines</a>!</span>
        </h3>
        <hr class="br-white" style="margin: 0;" />
        <div class="row recipes-list" style="margin-top: 20px;">
            {{ partial "box.html" (dict "name" "thai" "type" "cuisine" "baseUrl" $baseUrl) }}
            {{ partial "box.html" (dict "name" "italian" "type" "cuisine" "baseUrl" $baseUrl) }}
            {{ partial "box.html" (dict "name" "south indian" "type" "cuisine" "baseUrl" $baseUrl) }}
            {{ partial "box.html" (dict "name" "north indian" "type" "cuisine" "baseUrl" $baseUrl) }}
        </div>
    </div>
</div>
{{ partial "footer" . }}
